body{
    background-image: url(https://media.discordapp.net/attachments/960488060917800972/960507668072636446/Thank_You_For_Placing_The_Order_1.png?width=702&height=468);
    background-repeat: no-repeat;
    background-size: cover;
}